/* Foundational Style */
.primary-callout-box {
  background-color: #e4f2ff;
  padding: 20px 20px;
  margin: 20px 0px;
}

.secondary-callout-box {
  background-color: #FEF4CC;
  padding: 20px 20px;
  margin: 20px 0px;
}

.tertiary-callout-box {
  background-color: #F2F2F2;
  padding: 20px 20px;
  margin: 20px 0px;
}

.tip {
  padding: 10px 10px !important;
}

/* List CSS */
.list-callout-box {
  margin: 0px 0px 0px 40px !important;
}

/* Custom CSS */
.equal-height-module {
  align-content: flex-end;
  flex: 1 1 0;
  display: grid;
}

.post-series-intro {
  background-color: #e4f2ff !important;
  padding: 20px 20px !important;
  margin: 20px 0 !important;
  max-width: 1200px
}

.post-series-intro a {
  color: #0080ff !important;
}

/* Post - previous/next buttons */
.upw-before {
  color: #5b5b5b;
  margin: 0;
}

.upw-after {
  color: #5b5b5b;
  margin: 0;
}

.upw-posts h1.entry-title {
  margin: 0px !important;
}

.upw-posts article {
  border-left: 0px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.widget_ultimate_posts {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 27px;
  padding-bottom: 27px;
}

.widget_ultimate_posts a {
  color: black;
}

.widget_ultimate_posts a:hover {
  color: #0080ff;
}

/* Header/footer */
.fl-page-header-wrap {
  border-bottom: none !important;
}

.fl-page-footer {
  border-top: none;
}

/* Post content*/
.fl-post-grid-image {
  width: 344px !important;
  height: 258px !important;
}

.tag-wide-post {
  margin: 0 auto;
  max-width: 1200px !important;

}

.tag-regular-post {
  margin: 0 auto;
  max-width: 700px !important;
}

.fl-post-content ul {
  margin: 1em auto !important;
  max-width: inherit !important;
}

.fl-post-content ol {
  margin: 1em auto !important;
  max-width: inherit !important;
}

.fl-page-content blockquote {
  border-left: 5px solid #0080ff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fl-page-content blockquote * {
  color: #757575;
  font-size: 16px;
}

.fl-page-content blockquote a {
  color: #0080ff !important;
}

.blockquote-grey {
  border-left: 5px solid #757575 !important;
}

.blockquote-grey * {
  color: #757575 !important;
  font-size: 16px;
}

.blockquote-grey a {
  color: #0080ff !important;
}

.fl-after-post-widget {
  margin: 0 auto;
  max-width: 700px;
}

.post-content-image-left {
  flex-basis: 600px !important;
}

/* Inline CSS*/
.MaxWidth * {
  margin: 0px auto;
  max-width: 100%;
}

.MarginTopBottom40px {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.TopMargin0px {
  margin-top: 0px !important;
}

.BottomMargin0px {
  margin-bottom: 0px !important;
}